<div [@routerTransition]>
    <app-page-header [heading]="'Rechargement'" [icon]="'fa-refresh'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Liste des rechargements
                </div>
                <div class="card-body table-responsive">
                    <app-add class="pull-right mb-3"></app-add>
                    <app-table-recharges></app-table-recharges>
                </div>
            </div>
        </div>
    </div>
</div>
