<div [@routerTransition]>
    <app-page-header [heading]="'Rechargement'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Liste des rechargements
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Bénéficière</th>
                                <th>Mois</th>
                                <th>Date</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Cadres</td>
                                <td>Septembre</td>
                                <td>29 Novembre 2019</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle" aria-hidden="true"></em></button>
                                    <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash" aria-hidden="true"></em></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Cadres</td>
                                <td>Août</td>
                                <td>30 Juillet 2019</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"aria-hidden="true"></em></button>
                                    <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash" aria-hidden="true"></em></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cadres</td>
                                <td>Juillet</td>
                                <td>29 Juin 2019</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle" aria-hidden="true"></em></button>
                                    <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash" aria-hidden="true"></em></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
