<button class="btn btn-primary" (click)="open(content)">Ajouter une carte</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Ajout d'une nouvelle carte</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" id="formAddCarte" method="POST" #formAddCarte="ngForm" (ngSubmit)="linkCard(formAddCarte)">
            <fieldset class="form-group">
                <label>Numero Carte</label>
                <input type="text" placeholder="Ex: 0000 0000 0000 0000" class="form-control" name="cardNumber" ngModel>
            </fieldset>
            <fieldset class="form-group">
                <label>Niveau</label>
                <select class="form-control" name="profil" ngModel>
                    <option value="cadre">Cadre</option>
                    <option value="contractuel">Contractuel</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label>Proprietaire</label>
                <input type="text" placeholder="Ex: Youssou NDOUR" class="form-control" name="userFullName" ngModel>
            </fieldset>

            <fieldset class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="userEmail" ngModel>
            </fieldset>

            <fieldset class="form-group">
                <label>Téléphone</label>
                <input type="text" class="form-control" name="userPhone" ngModel>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" form="formAddCarte" class="btn btn-success">Enregistrer </button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler </button>
    </div>
</ng-template>
