<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Montant</th>
            <th>Client</th>
            <th>Numéro carte</th>
            <th>Date de rechargement</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>100 000f</td>
            <td>Alioune Ndiaye</td>
            <td>2509 2019 2204 1236</td>
            <td>18/09/2019 à 12h15</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                    aria-hidden="true"></em>
                </button>
            </td>
        </tr>
    </tbody>
</table>
