<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Restaurant </th>
            <th>Gérant </th>
            <th>E-mail </th>
            <th>Téléphone </th>
            <th>Options </th>
        </tr>
    </thead>
    <tbody>
        <ngx-spinner *ngIf="loading" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            <p class="loading">Chargement...</p>
        </ngx-spinner>
        <ng-container *ngIf="!loading">
            <ng-container *ngIf="restaurants.length > 0">
                <tr *ngFor="let restaurant of restaurants; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ restaurant.name }}</td>
                    <td>Ousmane</td>
                    <td>ous@gmail.com</td>
                    <td>78745412</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                                aria-hidden="true"></em></button>
                        <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash" aria-hidden="true"></em></button>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="restaurants.length <= 0">
                <tr>
                    <td colspan="6">Aucun données disponibles</td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
