<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Restaurant </th>
            <th>Gérant </th>
            <th>E-mail </th>
            <th>Téléphone </th>
            <th>Options </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Saf Sap</td>
            <td>Ousmane</td>
            <td>ous@gmail.com</td>
            <td>78745412</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Yande Codou</td>
            <td>Adama</td>
            <td>adama@gmail.com</td>
            <td>775454512</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Kay leek</td>
            <td>Matar</td>
            <td>matar@gmail.com</td>
            <td>78454512</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
    </tbody>
</table>
