<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Prénom Nom</th>
            <th>Numéro Carte</th>
            <th>Montant</th>            
            <th>Téléphone </th>
            <th>Mail </th>            
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ablaye NDIAYE</td>
            <td>0000 0000 0000 0000</td>
            <td>100 000</td>
            
            <td>7874512</td>
            <td>aa@gmail.com</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Ousmane Fall</td>
            <td>2222 2222 2222 2222</td>
            <td>80 000</td>
            <td>784512112</td>
            <td>azeraa@gmail.com</td>
            
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Djibry Laye</td>
            <td>1111 11111 1111 11111</td>
            <td>25 000</td> 
            <td>78574242</td>    
            <td>qsdf@gmail.com</td>
            

            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
    </tbody>
</table>
