<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/logo_nopale.png" width="300px" class="user-avatar" alt="NOPALE" />
            <p style="font-size: 0.9rem; font-weight: bold;">Votre paiement digital sans contact.</p>
            <div class="form-content">
                <button type="button" (click)="login()" class="btn btn-primary btn-lg btn-block">Se connecter</button>
            </div>
        </div>
    </div>
</div>
