<div [@routerTransition]>
    <h2 class="text-muted">Tableau de bord <small>Aperçu des statistiques</small></h2>
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'warning'" [img]="'1.png'" [count]="26" [label]="'Resaurants!'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'primary'" [img]="'2.png'" [count]="12" [label]="'Encaissements!'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'success'" [img]="'3.png'" [count]="124" [label]="'Paiements!'" ></app-stat>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Suivi des tickets vendu par jour
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Rafraichir</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Suivi des tickets vendu par semaine
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
