<button class="btn btn-primary" (click)="open(content)">Ajouter un restaurant</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nouveau restaurant</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" id="formAddResto" method="POST" #formAddResto="ngForm" (ngSubmit)="addNewRestaurant(formAddResto)"yy>
            <fieldset class="form-group">
                <label>Nom du restaurant</label>
                <input type="text" class="form-control" name="name" ngModel>
            </fieldset>

            <fieldset class="form-group">
                <label>Gérant: </label><br/>
                <small class="text-muted">Prénom</small>
                <input type="text" class="form-control" name="firstName" ngModel>
                <small class="text-muted">Nom</small>
                <input type="text" class="form-control" name="lastName" ngModel>
            </fieldset>

            <fieldset class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" name="username" ngModel>
            </fieldset>

            <fieldset class="form-group">
                <label>Téléphone</label>
                <input type="text" class="form-control" name="phone" ngModel>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" form="formAddResto" class="btn btn-success" >Enregistrer </button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler </button>
    </div>
</ng-template>
