<div [@routerTransition]>
    <app-page-header [heading]="'Rechargement'" [icon]="'fa-refresh'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Liste des rechargements
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-padded table-responsive-fix-big">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th>Sold Tickets</th>
                                <th>Sold Today</th>
                                <th>Refunds</th>
                                <th>Available</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fleece Marigold</td>
                                <td>06:30 PM</td>
                                <td>
                                    <span class="text-muted">Aug 02, 2018</span>
                                </td>
                                <td>457</td>
                                <td>15</td>
                                <td>$0.00</td>
                                <td>65</td>
                                <td>$ 5250.00</td>
                            </tr>
                            <tr>
                                <td>Fleece Marigold</td>
                                <td>06:30 PM</td>
                                <td>
                                    <span class="text-muted">Aug 02, 2018</span>
                                </td>
                                <td>457</td>
                                <td>15</td>
                                <td>$0.00</td>
                                <td>65</td>
                                <td>$ 5250.00</td>
                            </tr>
                            <tr>
                                <td>Fleece Marigold</td>
                                <td>06:30 PM</td>
                                <td>
                                    <span class="text-muted">Aug 02, 2018</span>
                                </td>
                                <td>457</td>
                                <td>15</td>
                                <td>$0.00</td>
                                <td>65</td>
                                <td>$ 5250.00</td>
                            </tr>
                            <tr>
                                <td>Fleece Marigold</td>
                                <td>06:30 PM</td>
                                <td>
                                    <span class="text-muted">Aug 02, 2018</span>
                                </td>
                                <td>457</td>
                                <td>15</td>
                                <td>$0.00</td>
                                <td>65</td>
                                <td>$ 5250.00</td>
                            </tr>
                            <tr>
                                <td>Fleece Marigold</td>
                                <td>06:30 PM</td>
                                <td>
                                    <span class="text-muted">Aug 02, 2018</span>
                                </td>
                                <td>457</td>
                                <td>15</td>
                                <td>$0.00</td>
                                <td>65</td>
                                <td>$ 5250.00</td>
                            </tr>
                            <tr>
                                <td>Fleece Marigold</td>
                                <td>06:30 PM</td>
                                <td>
                                    <span class="text-muted">Aug 02, 2018</span>
                                </td>
                                <td>457</td>
                                <td>15</td>
                                <td>$0.00</td>
                                <td>65</td>
                                <td>$ 5250.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
