<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom du pavillon</th>
            <th>Nombre de chambre</th>
            <th>Gérant</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pavillon A</td>
            <td>32</td>
            <td>Alioune Ndiaye</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em>
                </button>
            </td>
        </tr>
    </tbody>
</table>
