<button class="btn btn-info" (click)="open(content)">Faire un rechargement</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nouveau rechargement</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

        <form role="form" id="formMakeRecharge" method="POST" #formMakeRecharge="ngForm" (ngSubmit)="makeRecharge(formMakeRecharge)">
            <fieldset class="form-group">
                <label>Numéro carte</label>
                <input type="text" class="form-control" name="number" id="number" #number="ngModel" ngModel>
            </fieldset>

            <fieldset class="form-group">
                <label>Montant</label>
                <input type="text" class="form-control" name="amount" id="amount" #amount="ngModel" ngModel>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <ngx-spinner *ngIf="loading" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            <p class="loading">Chargement...</p>
        </ngx-spinner>
        <button type="submit" [disabled]="loading" form="formMakeRecharge" class="btn btn-success">
            Recharger
        </button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler </button>
    </div>
</ng-template>
