<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="logo-site" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
        <a class="navbar-brand" routerLink="/">NOPALÉ </a>
    </div>
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-dashboard"></em>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/recharges']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-refresh"></em>&nbsp;
            <span>{{ 'Rechargement' | translate }}</span>
        </a>
        <a [routerLink]="['/encaissements']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class=" fa fa-fw fa-money"></em>&nbsp;
            <span>{{ 'Encaissement' | translate }}</span>
        </a>
        <a [routerLink]="['/operations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-tasks"></em>&nbsp;
            <span>{{ 'Opérations' | translate }}</span>
        </a>
        <a [routerLink]="['/cartes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-credit-card"></em>&nbsp;
            <span>{{ 'Gestions cartes' | translate }}</span>
        </a>
        <a [routerLink]="['/restaurants']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-cutlery"></em>&nbsp;
            <span>{{ 'Restaurants' | translate }}</span>
        </a>
        <a [routerLink]="['/parametres']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-cogs"></em>&nbsp;
            <span>{{ 'Paramètres' | translate }}</span>
        </a>

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><em class="fa fa-user"></em>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><em class="fa fa-fw fa-user"></em> {{ 'Profil' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/parametres']">
                                <span><em class="fa fa-fw fa-gear"></em> {{ 'Paramètres' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><em class="fa fa-fw fa-power-off"></em> {{ 'Se déconnecter' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <em class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></em>&nbsp;
        <span>{{ 'Cacher le menu' | translate }}</span>
    </div>
</nav>
