<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-dashboard"></em>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/recharges']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-bar-chart-o"></em>&nbsp;
            <span>{{ 'Recharge' | translate }}</span>
        </a>
        <a [routerLink]="['/encaissements']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-table"></em>&nbsp;
            <span>{{ 'Encaissement' | translate }}</span>
        </a>
        <a [routerLink]="['/operations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-edit"></em>&nbsp;
            <span>{{ 'Opérations' | translate }}</span>
        </a>
        <a [routerLink]="['/parametres']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <em class="fa fa-fw fa-desktop"></em>&nbsp;
            <span>{{ 'Paramètres' | translate }}</span>
        </a>

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><em class="fa fa-user"></em>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><em class="fa fa-fw fa-user"></em> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><em class="fa fa-fw fa-envelope"></em> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><em class="fa fa-fw fa-gear"></em> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><em class="fa fa-fw fa-power-off"></em> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <em class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></em>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
