<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Bénéficière</th>
            <th>Niveau</th>
            <th>Date / Heure</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Papa Badara</td>
            <td>Cadre</td>
            <td>29 Novembre 2019 / 13:23</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Fatou Fall</td>
            <td>Cadre</td>
            <td>30 Juillet 2019 / 12:45</td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adama GUEYE</td>
            <td>Contractuel</td>
            <td>29 Juin 2019 / 15:20 </td>
            <td>
                <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                        aria-hidden="true"></em></button>
                <button type="button" class="btn btn-sm btn-danger"><em class="fa fa-trash"
                        aria-hidden="true"></em></button>
            </td>
        </tr>
    </tbody>
</table>
