<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Montant</th>
            <th>Client</th>
            <th>Date / Heure</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <ngx-spinner *ngIf="loading" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            <p class="loading">Chargement...</p>
        </ngx-spinner>
        <ng-container *ngIf="!loading">
            <ng-container *ngIf="userPayments.length > 0">
                <tr *ngFor="let userPayment of userPayments; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ userPayment.amount }}</td>
                    <td>{{ userPayment.firstName }} {{ userPayment.lastName }}</td>
                    <td>{{ userPayment.date }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info mr-2"><em class="fa fa-info-circle"
                            aria-hidden="true"></em>
                        </button>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="userPayments.length <= 0">
                <tr>
                    <td colspan="5">Aucun données disponibles</td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
