<div [@routerTransition]>
    <app-page-header [heading]="'Encaissement'" [icon]="'fa-money'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 mt-2 text-right">
            <app-form-extract class="mb-5"></app-form-extract>
        </div>
        <div class="col col-xl-12 col-lg-12 mt-2">
            <ngx-spinner *ngIf="loading" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
                <p class="loading">Chargement...</p>
            </ngx-spinner>
            <ngb-tabset *ngIf="!loading">
                <ngb-tab *ngFor="let restaurant of restaurants" >
                    <ng-template ngbTabTitle>{{restaurant.name}}</ng-template>
                    <ng-template ngbTabContent>
                        <app-table-transaction></app-table-transaction>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
